:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5e5e5;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem;
    box-sizing: inherit;
    position: relative;
}

.days {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

/* Days */
h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.day {
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.temps {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    padding: 1rem;
}

label {
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.fixed {
    width: 80px;
    text-align: right;
    padding-right: 1rem;
}

.temp {
    width: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

p {
    margin: 0 0 0.5rem 0;
}

img {
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 475px) {
    h1 {
        font-size: 3rem;        
    }

    h2 {
        font-size: 1.5rem;
    }
}